<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSScript.Properties.Settings>
            <setting name="ScriptLibDirectory" serializeAs="String">
                <value>scriptlib</value>
            </setting>
            <setting name="Usings" serializeAs="String">
                <value>CSScript.Core
System
System.Collections
System.Collections.Generic
System.Diagnostics
System.Drawing
System.IO
System.Net
System.Net.Mail
System.Runtime.InteropServices
System.Security.Cryptography
System.Text
System.Xml</value>
            </setting>
            <setting name="Imports" serializeAs="String">
                <value>Microsoft.CSharp.dll
System.dll
System.Core.dll
System.Data.dll
System.Data.DataSetExtensions.dll
System.Data.Linq.dll
System.Drawing.dll
System.Drawing.Design.dll
System.Net.dll
System.Numerics.dll
System.Security.dll
System.Web.dll
System.Windows.Forms.dll
System.Xml.dll
System.Xml.Linq.dll</value>
            </setting>
        </CSScript.Properties.Settings>
    </applicationSettings>
</configuration>